$color_primary: #337ab7;
$color_success: #5cb85c;
$color_info: #5bc0de;
$color_warning: #f0ad4e;
$color_danger: #d9534f;

$pentax_red: #d7003a;
$pentax_green: #008b45;
$pentax_lime: #49c143;
$pentax_yellow: #fddf00;
$pentax_gold: #f8a703;

.pentax_red {
    color: $pentax_red;

    &:link, &:visited, &:hover, &:active {
        color: $pentax_red;
    }
}

.pentax_green {
    color: $pentax_green;

    &:link, &:visited, &:hover, &:active {
        color: $pentax_green;
    }
}
