@import 'bourbon/bourbon';

header {
	padding: 8px;

	img {
		float: left;
	}

	nav {
		color: white;

		div.navbtn {
			float: right;
			@include linear-gradient(to bottom, #dd2d2d, #2c2d33);
			border-radius: 4px;
		}

		div.navbtn {
			width: 22px;
			height: 22px;
			box-sizing: border-box;
			text-align: center;
			line-height: 22px;
			padding: 0;
			margin: 0;
			border: none;
			float: right;
		}

		input[type=checkbox] {
			display: none;
		}

		input[type=checkbox]:checked ~ ul {
			display: block;
		}

		ul {
			display: none;
			background-color: black;
			border-radius: 5px;
			box-sizing: border-box;
			opacity: .9;
			padding: 0 1px;
			margin: 0;
			list-style-type: none;
			position: absolute;
			right: 8px;
			top: 31px;

			li {
				display: block;
				padding: 6px 16px;
				margin-top: 1px;

				border-bottom: 1px solid #2c2d33;

				&:last-child {
					border-bottom: none;
				}

			}
		}

		@media only screen and (min-width: 60rem) {
			div.navbtn {
				display: none;
			}

			ul {
				display: block;
				position: static;
				float: right;
				@include linear-gradient(to bottom, #dd2d2d, #2c2d33);
				opacity: 1;
				padding: 4px 0;

				li {
					display: inline-block;
					background: transparent;
					border-bottom: none;
					border-right: 1px solid #dd2d2d;
					padding: 4px 16px;

					&:last-child {
						border-right: none;
					}
				}
			}
		}

	}

	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

