<!DOCTYPE html>
<html>
	<head>
		<title>${data.site.title}</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>MENU1</li>
					<li>MENU2</li>
				</ul>
			</nav>
		</header>

		<footer>
			<p>Copyright &copy; 2016 Pentax Ricoh Club</p>
		</footer>
	</body>
</html>
